<h1 class='text-center'>Tous les restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <ul>
    <li><%= link_to restaurant.name, restaurant_path(restaurant), class: 'btn btn-primary' %></li>
  </ul>
<% end %>

<%= link_to 'Ajoutez un restaurant', new_restaurant_path, class: 'btn btn-warning' %>
